*{
  margin: 0;
  padding: 0;
}
body {
  font-family: wf_segoe-ui_normal;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
-webkit-background-size: cover;
background-size: cover;
background-position: center;
}
html {
  width: 100%;
  height: 100%;
}  
a {
  color: inherit;

}
header {
  padding-top: 30px;
}
header i{
position: absolute;
right: 0;
    z-index: 1001;
    border: 1px solid #000;
    padding: 5px;
}
.data_login{
    position: absolute;
    right: 40px;
    z-index: 1001;
}
.premios hr{
      width: 50%;
    margin: 20px auto;
    border-top: 1px solid #000;
}
.premios h4{
     font-family: wf_segoe-ui_semibold;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1001
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.sidenav  .social a{
  display: inline;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width:768px) {
  body{
    background-color: #76C5F0;
    background-position: center 130px;
    background-repeat: no-repeat;

  }
  .sidenav a {
    padding: 0px!important;
    font-size: 16px!important;
  }
 .sidenav a img {
  width: 40px;
  }
 .logo_slide img{
  margin-top: -55px;
 }
  #login button, #login .registrarse {
    font-size: 11px!important;
    width: 100%;
    height: 37px;
  }
  .bajada a {
    width: 100%;
    font-size: 11px;
    margin-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
  }
  header footer {
    bottom: -0px!important;
  }
  footer{
    bottom:-20px!important;
    width: 100%!important;
    height: 85px!important;
  }
  .b_social {
    margin-bottom: 70px;
  }
  .list_univer h4 {
    padding-left: 58px!important;
    font-size: 11px!important;
    margin: 12.5px auto!important;
  }
  .office_race h2, .terminos h2 {
    font-size: 45px!important;
  } 
  .facebook, .twitter {
    padding: 15px 40px!important;
    width: 100%;
    font-size: 10px;
  }
  .premios a {
    width: 100%;
    font-size: 11px;
    margin-bottom: 100px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.intro_login, .registro_nuevo, .premios, .office_race, .terminos, .ranking {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
}
#enviar_datos{
  margin-top: 30px;
}
#ranking_slide{
    height: 400px;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 27%;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:5px;
}
#ranking_slide img{
  padding-top: 75px;
    cursor: pointer;
}
#ranking_slide .univer h3 {
  color: red;
  margin: 10px auto;
}
#ranking_slide .univer{
    position: fixed;
    margin-left: 86px;
    width: 300px;
    margin-top: 20px;
}
#ranking_slide .univer h4:nth-child(1) .ranking .univer h4:nth-child(1),  {
  margin:7px auto;
}
 .ranking .univer ul {
  list-style-type: none;
  border: 1px solid #000;
  height: 237px;
}#ranking_slide .univer ul{
  list-style-type: none;
  border: 1px solid #000;
  height: 254px;
}
#ranking_slide .univer .number_list, .ranking .univer .number_list {
  float: left;
  position: absolute;
    z-index: -5;
}
.list_univer{
margin-bottom: -20px;
}
.list_univer h4{
padding-left: 60px;
font-size: 16px;
}
.list_univer li {
  /*margin-top: 20px;*/
}
#ranking_slide .univer ul div:nth-child(1) li:nth-child(1) {
  padding-bottom: 10px
}
  #ranking_slide .univer ul div:nth-child(1) li {
      font-family: wf_segoe-ui_semibold;
    background-color: #383838;
    height: 50px;
    color: #FFF;
    font-size: 22px;
    padding-top: 9px;
    padding-left: 5px;
    width: 46px;
  }
.univer ul div:nth-child(1) li {
    font-family: wf_segoe-ui_semibold;
    background-color: #383838;
    height: 45px;
    color: #FFF;
    font-size: 24px;
    padding-top: 3px;
    padding-left: 5px;
    width: 50px;
}
.progress{
  height: 10px!important;
  border-radius: 0px; 
  margin-bottom: 0px!important;
}
.up_rank{
  width: 400px!important;
}
.mostrarRanking{
 height: 265px;
  overflow: hidden;

}
.scrollRanking {
  margin-top: -330px;
}
.cta_social h3{
  font-size: 20px;
  font-family: wf_segoe-ui_semibold;
}
.flechasRanking {
    width: 50px;
    position: absolute;
    right: -50px;
    top: 140px;
}
.flechasRanking a {
    border: 1px solid #000;
        padding: 7px 7px;

}
.facebook {
  background-color: #3d5fad!important;
  color:#FFF!important;
  font-family: wf_segoe-ui_bold;
  text-transform: uppercase;
  padding:15px 50px!important ;
  
}
.twitter {
  background-color: #00b9ff!important;
  color:#FFF!important;
  font-family: wf_segoe-ui_bold;
  text-transform: uppercase;
  padding:15px 50px!important ;

}
.facebook i, .twitter i {
      top:10px;
    position: absolute;
    left: 20px;
}
.flechasRanking a:hover {
  background-color: rgba(255,255,255,0.5);
}
.flechasRanking i {
  padding:10px  5px;
}
input, select {
      border: 1px solid #000!important;
      background-color: transparent!important;
      width: 100%;
      height: 40px;
      margin-top: 15px;
      padding-left:40px;
} 
select option {
    background-color: transparent!important; 
}
form i {
      position: absolute;
 top: 28px;
    left: 26px;
}
form button{
  z-index: 1001
}
form button i{
  position: relative;
  top:-1px;
}
header hr {
  border-width: 1px; 
  border-style: dashed;
  border-color:  #333;
}
::-webkit-input-placeholder {
   color: #000;
      
}
::-webkit-select-placeholder {
   color: #000;
      
}

:-moz-placeholder { /* Firefox 18- */
   color: #000; 
       
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000; 
       
}

:-ms-input-placeholder {  
   color: #000;
        
}
:-ms-select-placeholder {  
   color: #000;
        
}
#mensaje {
  margin:10px auto;
  color:red;
}
.btn{
  border-radius: 0px;
  padding: 10px 30px;
}
.btn:hover, .btn:focus, .btn:active {
  border-radius: 0px;
  border-color:  transparent;
}
.registro_nuevo, .premios, .office_race, .terminos, .ranking {
  display: none;
  z-index: 0;
}
.office_race h2, .terminos h2 {
  font-size:  50px;
  font-family: wf_segoe-ui_semibold;
}
.office_race .bajada div, .terminos .bajada div {
  font-size:  14px;
  font-family: wf_segoe-ui_bold;
  margin:20px auto;
}
/*FOOTER*/
header footer{
    background-color: transparent;
    position: absolute;
        bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;

}
footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  bottom: 0px;
  height: 70px;
  width: 100%;
  color: #FFF;
}
 footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

footer li {
    float: left;
    height: 40px;
    margin-top: 15px;
}

footer li p {
    display: block;
    padding-top: 10px;
}
/*FIN FOOTER*/
@media screen and (max-width:768px) {
  #ranking_slide{
    display: none;
  }
  header i{
    margin-top: -50px;
    z-index: 1001;
    position: absolute;
    top: 20px;
    margin-left: 58px;
    border: 1px solid #000;
    padding: 5px;
  }
  .data_login{
    position: absolute;
    right: -25px;
    z-index: 1001;
    top: 25px;
    margin-top: -55px;
    width: 150px;

  }
  .intro_login, .registro_nuevo, .premios, .office_race, .terminos, .ranking {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 80px;
}
.flechasRanking {
    width: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    }
.flechasRanking i{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);  
}
    .cta_social {
      margin-top:   50px;
    }
}@media screen and (min-width:1440px) {
.intro_login, .registro_nuevo, .premios, .office_race, .terminos {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
}
}